<div class="person__data-item">
    <label for="">{{ label }}</label>
    <input type="{{ type }}" value="{{ value }}" disabled="{{ disabled }}" placeholder="{{placeholder}}" name="{{ name }}">
</div>
